*{
    background-color: #333;
    color: antiquewhite;
}
.one{
    background-color: lightgrey;
    width: 90px;
    height: 90px;
    border:1px solid green;
    margin: 90px;
    background-position: center center;
}
.two{
    background-color: lightgrey;
    width: 90px;
    height: 90px;
    border:1px solid green;
    margin: 90px; 
    background-position: center center;
}
.three{
    background-color: lightgrey;
    width: 90px;
    height: 90px;
    border:1px solid green;
    margin: 90px;
    background-position: center center;
}